html, body{
    font-size: 18px;
}

body div.react-wrapper{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

button:empty::before{
    content: '-';
}

main{
    display: flex;
    min-height: 80%;
    
    align-items: flex-start;
    justify-content: center;
}


button{
    font-family: "DejaVu Serif";
    
    cursor: pointer;
}


.spinner{
    width: 2em;
    height: 1em;
    
    display: inline-block;
    background-color: white;
    
    transition-property: background-color;
    transition-duration: 1s;
}

.spinner.fadein{
    background-color: #666;
    
    transition-property: background-color;
    transition-duration: 1s;
}


