.delete{
    position: relative;
}

.delete > button{
    position: absolute;
    
    top: 0.2em;
    right: 0.2em;
    padding: 0.2em;
    
    font-size: 1.3em;
    color: red;
    
    border: 0;
    
    background-color: transparent;
}

.delete .confirmation-box{
    position: absolute;
    text-align: center;
    
    top: 0.2em;
    right: -5em;
    width: 10em;
    
    border: 1px solid red;
    
    background-color: white;
}
.delete .confirmation-box h1{
    font-size: 1.1em;
    color: red;
}

.delete .confirmation-box .button-group{
    display: flex;
    justify-content: space-around;
}


.delete .confirmation-box button.confirm{
    
}

.delete .confirmation-box button.delete{
    
}