li.domain-list-item{
    min-height: 11em;
}


li.domain-list-item header select{
    margin: 0;
    border: 0;
    
    background: white;
    font-size: 1em;
    outline: 1px solid lightgrey;
}

li.domain-list-item ul.urls{
    font-size: 0.8em;
    white-space: nowrap;
}

li.domain-list-item ul.urls li{
    overflow: hidden;
    position: relative;
}

li.domain-list-item ul.urls li.rejected{
    opacity: 0.5;
    text-decoration: line-through;
}

li.domain-list-item ul.urls li:hover{
    background-color: #AAA;
}

li.domain-list-item ul.urls li button.reject{
    position: absolute;
    right: 0;
    background-color: antiquewhite;
    border: 1px solid lightgrey;
    border-radius: 0;
}

