main.oracles{

}

ul.oracles{
    text-align: center;
}

ul.oracles li{
    display: inline-block;
    vertical-align: top;
    
    min-width: 15em;
    min-height: 10em;
    padding: 1em;
    
    margin: 1em;
    border: 1px solid #888;
}

ul.oracles li.expecting-credentials{
    box-shadow: 0 0 0.8em 0.5em red;
}

main.oracles form{
    text-align: left;
}

main.oracles form label{
    display: block;
}