/*
    Annotations
*/


.page-list-container .filters{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.page-list-container .filters .filter{
    display: inline-block;
}

.page-list-container .filters .filter button{
    background: transparent;
    border: 0;
    border-radius: 0;
    color: black;
    font-size: 1.5em;

}

.page-list-container .filters .filter.favorite button{
    color: gold;
}
.page-list-container .filters .filter.favorite button::before{
    content: '☆';
}
.page-list-container .filters .filter.active.favorite button::before{
    content: '★';
}

.page-list-container .filters .filter.sentiment.active button{
    color: red;
}


/* Annotators */
li.page-list-item .annotators{
    position: absolute;
    top: 0;
    right: 0;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
        
    border: 1px solid lightgrey;
    border-width: 0 0 1px 1px;
    
    background-color: antiquewhite; 
}

li.page-list-item .annotators > *{
    background-color: transparent;
    
    font-size: 1.5em;

    display: block;   
    padding: 0.2em;
    cursor: pointer;
}

li.page-list-item .annotators > .publication-date{
    font-size: 1em;
    text-align: center;
    max-width: 11em;
}



li.page-list-item .annotators button{
    margin: 0;
    border: 0;
}

li.page-list-item .annotators .sentiment.negative.active{
    color: red;
}

li.page-list-item .annotators .favorite{
    color: gold;
}

