li.page-list-item{
    text-align: left;
    margin-bottom: 0.5em;
    min-height: 8em;
    padding: 0.4em;
    
    position: relative;
}

li.page-list-item.rejected{
    background-color: lightgray;
    opacity: 0.7;
}

li.page-list-item:hover{
    background-color: #EAEAEA;
    outline: solid 1px #CCC;
}

li.page-list-item a{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

li.page-list-item a h3,
li.page-list-item a h4
{
    margin: 0;
    padding: 0;
}

li.page-list-item a h3{
    font-size: 1em;
}
li.page-list-item a h4{
    font-size: 0.7em;
    color: #479b47;
}

li.page-list-item .excerpt{
    margin-top: 0.2em;
    font-size: 0.7em;
    color: rgba(0, 0, 0, 0.75);
}



/*
    Annotations
*/
li.page-list-item button.reject{
    width: 1.5em;
    height: 1.5em;
    position: absolute;

    cursor: pointer;
    
    top: 0;
    right: 0;
    
    border: 1px solid lightgrey;
    border-width: 0 0 1px 1px;
    
    background-color: antiquewhite; 
  
    display: none;   
    
    font-size: 2em;
}


li.page-list-item:hover button.reject{
    display: block;
}



li.page-list-item .annotations{
    width: 100%;
    height: 2em;
    position: absolute;
    
    bottom: 0;
    left: 0;
    
    border-top: 1px solid lightgrey;
    background: white;

    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

li.page-list-item:hover .annotations{
    display: flex;
}

li.page-list-item .annotations .tag{
    font-size: 0.7em;
    padding: 0.3em;
    margin: 0 0.2em;
    background-color: lightblue;
    border-radius: 20%;
}

li.page-list-item .annotations .tag .delete{
    background-color: lightblue;
    font-size: 1em;
    padding: 0.2em;


}
li.page-list-item .annotations .tag .delete::before{
    content: "x";
    color: red;
}

li.page-list-item .annotations button, li.page-list-item .annotations select{
    margin: 0;
    background: white;
    border: 0;
}

li.page-list-item .annotations button{
    font-size: 1.5em;
}

li.page-list-item .annotations select{
    outline: 1px solid lightgrey;
}

li.page-list-item .annotations .sentiment{
}
li.page-list-item .annotations .sentiment .negative{
    
}
li.page-list-item .annotations .sentiment .active{
    background-color: beige;
    color: red;
}

li.page-list-item .annotations .favorite{
    color: gold;
}




