li.page-list-item{
    text-align: left;
    margin-bottom: 0.5em;
    min-height: 3em;
    padding: 0.4em;
    
    position: relative;
}

li.page-list-item.rejected{
    background-color: lightgray;
    opacity: 0.7;
}

li.page-list-item:hover{
    background-color: #EAEAEA;
    outline: solid 1px #CCC;
}

li.page-list-item a{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

li.page-list-item a h3,
li.page-list-item a h4
{
    margin: 0;
    padding: 0;
}

li.page-list-item a h3{
    font-size: 1em;
}
li.page-list-item a h4{
    font-size: 0.7em;
    color: #479b47;
}

li.page-list-item .excerpt{
    margin-top: 0.2em;
    font-size: 0.7em;
    color: rgba(0, 0, 0, 0.75);
}



/*
    Annotations
*/
li.page-list-item button.reject{
    width: 3em;
    height: 3em;
    position: absolute;

    cursor: pointer;
    
    top: 0;
    right: 0;
    
    border: 1px solid lightgrey;
    border-width: 0 0 1px 1px;
    
    background-color: antiquewhite; 
  
    display: none;    
}


li.page-list-item:hover button.reject{
    display: block;
}







