li.territoire-list-item{
    text-align: left;
    margin-bottom: 0.5em;
    min-height: 8em;
    padding: 0.4em;
    
    position: relative;
}

li.territoire-list-item.rejected{
    background-color: lightgray;
    opacity: 0.7;
}

li.territoire-list-item:hover{
    background-color: #EAEAEA;
}

li.territoire-list-item header{
    font-size: 0.8em;
    border: 0;
    padding: 0;
    margin: 0;
    
    height: auto;
    
    display: flex;
    justify-content: flex-start;
}

li.territoire-list-item header a{
    color: grey;
}



li.territoire-list-item a{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

li.territoire-list-item a h3,
li.territoire-list-item a h4
{
    margin: 0;
    padding: 0;
}

li.territoire-list-item a h3{
    font-size: 1em;
}
li.territoire-list-item a h4{
    font-size: 0.7em;
    color: #479b47;
}

li.territoire-list-item .excerpt{
    margin: 0.3em 0;
    font-size: 0.7em;
    color: rgba(0, 0, 0, 0.75);
}


/* Tags */
li.territoire-list-item .tags{
    margin-top: 1em;
}


li.territoire-list-item .tags .tag{
    font-size: 0.7em;
    padding: 0.1em 0.2em;
    margin: 0 0.2em;
    background-color: lightblue;
    outline: 1px solid #AAA;
    
    display: inline-block;
}

li.territoire-list-item .tags .tag .delete{
    background-color: lightblue;
    font-size: 1em;
    padding: 0.2em;

    margin: 0;
    border: 0;
}

li.territoire-list-item .tags .tag .delete::before{
    content: "x";
    color: red;
}


/* Automated annotations */
li.territoire-list-item .metrics{
    position: absolute;
    
    top: 0;
    left: 0;
    padding: 0px 0.3em;
    
    margin-left: -1em;
    max-width: 1em;
    
    display: flex;
    flex-direction: column;
    align-items: flex-end
}

li.territoire-list-item .metrics > *{
    white-space: pre;
    
}