/*
    Territoires
*/
main > .territoires{
    width: 40%;
}

main ul.territoires > li{
    padding: 0.5em;
    margin: 0.2em 0;
    border: outset 3px #BBB;
    
    position: relative;
}

main ul.territoires > li > a{
    width: 90%;
    height: 100%;
    text-decoration: none;
    color: black;
}

/* TODO use the "responsive square" trick */
main ul.territoires > li > button.delete{
    width: 10%;
    height: 100%;
}

main ul.territoires > li h1.name{
    font-weight: bold;
    margin-bottom: 0.5em;
    font-size: 1em;
    
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

main ul.territoires > li button.edit{
    font-size: 1.4em;
    padding: 0.2em;
    position: absolute;
    
    right: 0.2em;
    top: 0.2em;
    
    background-color: transparent;
    
    border: 0;
}

main ul.territoires > li .description{
    font-size: 0.8em;
    color: #999;
}

main ul.territoires > li.add{
    background-color: lightgreen;
    padding: 0;
}

main ul.territoires > li.add > button{
    width: 100%;
    height: 100%;
    
    background-color: transparent;
    color: inherit;
    
    border: 0;
    padding: 1em;
}

main ul.territoires > li ul.queries{
    display: inline;
}
main ul.territoires > li ul.queries > li{
    display: block;
    border: solid 1px #777;
    border-radius: 0.5em;
    
    margin: 0.2em;
    text-align: justify;
    
    position: relative;
    
    width: 100%;
}

main ul.territoires > li ul.queries > li.add{
    background-color: lightgreen;
}
main ul.territoires > li ul.queries > li.add button{
    text-align: center;
}

main ul.territoires > li ul.queries > li.open{
    background-color: white;
}

main ul.territoires > li ul.queries > li > button{
    text-align: left;
    padding: 0.2em;
    margin: 0;
    border: 0;
    text-transform: none;
    
    width: 100%;
    height: 100%;
    position: relative;
    
    background-color: transparent;
    color: inherit;
}

main ul.territoires > li ul.queries > li > button > *{
    display: inline-block;
    width: 13%;
    padding: 0 1em;
    vertical-align: middle;
}

main ul.territoires > li ul.queries > li > button > *:nth-child(2){
    width: 50%;
}


main ul.territoires > li ul.queries > li .QueryForm-react-component{
    padding: 1em;
    
    z-index: 1;
}

.QueryForm-react-component form.query{
    
}

.QueryForm-react-component form.query section{
    margin-bottom: 1em;
    width: 100%;
}

.QueryForm-react-component form.query section h1{
    font-size: 1.1em;
}

.QueryForm-react-component form.query section label > *:first-child{
    width: 40%;
    text-transform: capitalize;
}
.QueryForm-react-component form.query section label > *:nth-child(2){
    width: 100%;
}

form.query button[type="submit"]{
    padding: 0.5em 0.2em;
    border: 3px outset #AAA;
    
    margin: 0;
    
    width: 100%;
    height: 100%;
    
    background-color: transparent;
    color: inherit;
}

form.query label{
}


.TerritoireForm-react-component{
    display: flex;
    flex-direction: row;
}

.TerritoireForm-react-component form{
    display: flex;
    flex-direction: column;
    padding: 0 1em;
}

.TerritoireForm-react-component form:hover{
    background-color: #EAEAEA;
}

/*.TerritoireForm-react-component form:nth-of-type(1){
    flex: 2;
}
.TerritoireForm-react-component form:nth-of-type(2){
    flex: 1;
}*/

/*
    Delete button
*/
.QueryForm-react-component .delete,
.TerritoireForm-react-component .delete{
    position: absolute;
    
    top: 0.2em;
    right: 0.2em;
    padding: 0.2em;
}


